.ma-shan-zheng-regular {
    font-family: "Ma Shan Zheng", serif;
    font-weight: 400;
    font-style: normal;
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}